body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.form{
display: flex;
flex-direction: column;
align-items: center;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
color: rgb(29, 16, 123);
}
#submitBtn{
    background-color: rgb(30, 10, 133);
    color: aliceblue;
    border: none;
    width: 100px;
    height: 30px;
}
.error{
    display: block;
    color: brown;
}